p {
  margin: 0;
}

.main,
.comments {
  margin: 0 auto;
  padding-bottom: 1em;
  background-color: #fff;
}

.main,
.comments h2,
.comments p,
.replies p{
  margin: 0 16% 0 16%;
}

.comments a {
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.main .list {
  text-decoration: none;
  margin-bottom: 20px;
}

.main .title {
  margin-left: 20px;
}

.main blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 4px solid #e5e9f2;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
}

.main .content {
  width: 100%;
  line-height: 20px;
  margin-top: 10px;
  word-break: break-all;

  text-overflow: ellipsis;

  display: -webkit-box;
  /** 对象作为伸缩盒子模型显示 **/

  -webkit-box-orient: vertical;
  /** 设置或检索伸缩盒对象的子元素的排列方式 **/

  -webkit-line-clamp: 3;
  /** 显示的行数 **/

  overflow: hidden;
  /** 隐藏超出的内容 **/
}

.main .info .first,
.comments ul li .first,
.replies p .first{
  margin: 0;
}

.main .info span,
.comments p span {
  margin-left: 15px;
  color: gray;
}

.main .info span a {
  margin-left: 10px;
}

.comments .name {
  color: rgb(5, 197, 79);
  font-size: 16px;
}

.comments .content {
  color: #000;
  font-size: 20px;
  padding: 5px 0 5px 0;
}

.comment {
  margin-bottom: 10px;
}

.reply .ant-form-item {
  margin-bottom: 0;
}

.replies {
  padding:10px 0px 0 20px;
}

.replies .content{
  color:#000;
  font-size: 14px;
  word-wrap: break-word;
}

.replies .fromUser{
  color:rgba(10, 10, 250, 0.76);
}

.replies .toUser{
  color:rgb(231, 75, 75);
}

@media screen and (max-width:576px){
  .main,
  .comments h2,
  .comments p,
  .replies p{
    margin: 0;
  }
}
