.topbar{
  background-color:#282440fa;
  height:50px;
  display: flex;
  justify-content: space-around;
}

.topbar>div{
  width:45%;
}

.ll{
  color:#fff;
  white-space: nowrap;
  line-height: 50px;
  vertical-align: middle;
}

.lr div {
  float: right;
  margin-right: 20px;
  white-space: nowrap;
  line-height: 50px;
  vertical-align: middle;
}

.logo{
  float: left;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
}